
div.logger {

  table {

    font-family: monospace;
    border-collapse: collapse;

    td.id, td.device, td.target, td.source, td.command {
      text-align: right;
    }

    thead {
      font-weight: 700;
      background-color: #666;
      color: white;
    }

    tbody {

      font-size: 13px;

      td {
        padding: 0 2px;

        &.timestamp {
          background-color: #ffffff44;
        }

      }

    }

  }
}
