
div.logger {

  table {

    font-family: monospace;
    border-collapse: collapse;

    thead {
      font-weight: 800;
      background-color: #666;
      color: white;
    }

    tbody {

      font-size: 11px;

      td {
        padding: 0 2px;

        &.timestamp {
          background-color: #ffffff44;
        }
        &.id {
          text-align: right;
        }

      }

    }

  }
}
